@model List<Schemes.ViewModels.SchemeDetails>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<style>
    .req {
        cursor: pointer;
    }
</style>
<!-- Content Row -->
    <div class="row justify-content-center">
        <div class="mb-4" style="text-align: center; right:50%">
            <div class="btn btn-primary banks">Banks</div>
            <div class="row pt-3">
            <a id="bankEMI"  class="btn btn-primary col m-2 emibtn" role="button" data-bs-toggle="button">SBI</a>
            <a id="bankEMI" class="btn btn-primary col m-2 emibtn" role="button" data-bs-toggle="button">UNION</a>
            <a id="bankEMI" class="btn btn-primary col m-2 emibtn" role="button" data-bs-toggle="button">KARNATAKA</a>
            </div>
        </div>
    </div>
<div class="card border-primary col-sm-8 mx-auto emiCalculatorDiv" style="padding-right:0px;padding-left:0px;">
    <div class="card-header bg-primary">
        <h3 class="text-center emiHeader" style="color:white">EMI CALCULATOR</h3>
    </div>
    <div class="card-body align-items-center">
        <div class="row">
            <div class="col-md-12">
                <label id="loanAmountLbl" style="color:Black; padding-top:1%" for="loanAmount">Loan Amount (₹)</label>
                <input type="range" id="loanAmount" min="100000" max="10000000" step="5000" value="100000">
                <input type="text" id="loanAmountInput" >
                <br>

                <label id="interestRateLbl" style="color:Black; padding-top:1%" for="interestRate">Interest Rate (%)</label>
                <input  type="range" id="interestRate" min="1" max="20" step="0.1" value="1">
                <input type="text" id="interestRateInput" >
                <br>

                <label id="loanTenureLbl" style="color:Black; padding-top:1%" for="loanTenure">Loan Tenure (years)</label>
                <input type="range" id="loanTenure" min="1" max="20" step="1" value="1">
                <input type="text" id="loanTenureInput" >
                <br>
                <br>
                <button onclick="calculateEMI()" class="btn btn-primary calculateEMIBtn">Calculate EMI</button>

            <h3 style="color:Black; padding-top:1%" class="resultsLbl">Results</h3>
                <p style="color:Black; padding-top:1%" id="loanEMITxt">Loan EMI: ₹<span style="font-style:oblique;font-weight:600; padding-top:1%" id="emi"></span></p>
                <p style="color:Black; padding-top:1%" id="TIPTxt">Total Interest Payable: ₹ <span style="font-style:oblique;font-weight:600; padding-top:1%" id="totalInterest"></span></p>
                <p style="color:Black; padding-top:1%" id="TPTxt">Total Payment (Principal + Interest): ₹<span style="font-style:oblique;font-weight:600; padding-top:1%" id="totalPayment"></span></p>
            </div>
            </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#accordionSidebar").removeClass("d-none");

        if ($("#language").val() == "hi") {
            $('.banks').text('बैंकों');
            $('.emiHeader').text('ईएमआई कैलकुलेटर');
            $('.resultsLbl').text('परिणाम');
            $('#loanEMITxt').text('ऋण ईएमआई: ₹');
            $('#TIPTxt').text('कुल देय ब्याज: ₹');
            $('#TPTxt').text('कुल भुगतान (मूलधन+ब्याज): ₹');
            $('#loanTenureLbl').text('ऋण अवधि (वर्ष)');
            $('#interestRateLbl').text('ब्याज दर (%)');
            $('#loanAmountLbl').text('ऋण राशि(₹)');
            $('#KARNATAKALoanEMI').text('कर्नाटक');
            $('#SBILoanEMI').text('स्टे.बैं.इं');
            $('#UNIONLoanEMI').text('यूनियन');

        }
        else if ($("#language").val() == "kn") {
            $('.banks').text('');
            $('.emiHeader').text('');
            $('.resultsLbl').text('');
            $('#loanEMITxt').text('');
            $('#TIPTxt').text('');
            $('#TPTxt').text('');
            $('#loanTenureLbl').text('');
            $('#interestRateLbl').text('');
            $('#loanAmountLbl').text('');
            $('#KARNATAKALoanEMI').text('');
            $('#SBILoanEMI').text('');
            $('#UNIONLoanEMI').text('');
        }
        else if ($("#language").val() == "ml") {
            $('.banks').text('');
            $('.emiHeader').text('');
            $('.resultsLbl').text('');
            $('#loanEMITxt').text('');
            $('#TIPTxt').text('');
            $('#TPTxt').text('');
            $('#loanTenureLbl').text('');
            $('#interestRateLbl').text('');
            $('#loanAmountLbl').text('');
            $('#KARNATAKALoanEMI').text('');
            $('#SBILoanEMI').text('');
            $('#UNIONLoanEMI').text('');
        }
        else if ($("#language").val() == "ta") {
            $('.banks').text('');
            $('.emiHeader').text('');
            $('.resultsLbl').text('');
            $('#loanEMITxt').text('');
            $('#TIPTxt').text('');
            $('#TPTxt').text('');
            $('#loanTenureLbl').text('');
            $('#interestRateLbl').text('');
            $('#loanAmountLbl').text('');
            $('#KARNATAKALoanEMI').text('');
            $('#SBILoanEMI').text('');
            $('#UNIONLoanEMI').text('');
        }
        else if ($("#language").val() == "te") {
            $('.banks').text('');
            $('.emiHeader').text('');
            $('.resultsLbl').text('');
            $('#loanEMITxt').text('');
            $('#TIPTxt').text('');
            $('#TPTxt').text('');
            $('#loanTenureLbl').text('');
            $('#interestRateLbl').text('');
            $('#loanAmountLbl').text('');
            $('#KARNATAKALoanEMI').text('');
            $('#SBILoanEMI').text('');
            $('#UNIONLoanEMI').text('');
        }
        else if ($("#language").val() == "ur") {
            $('.banks').text('');
            $('.emiHeader').text('');
            $('.resultsLbl').text('');
            $('#loanEMITxt').text('');
            $('#TIPTxt').text('');
            $('#TPTxt').text('');
            $('#loanTenureLbl').text('');
            $('#interestRateLbl').text('');
            $('#loanAmountLbl').text('');
            $('#KARNATAKALoanEMI').text('');
            $('#SBILoanEMI').text('');
            $('#UNIONLoanEMI').text('');
        }
        $(".emiCalculatorDiv #loanAmount").attr("min", "100000");
        $(".emiCalculatorDiv #loanAmount").attr("max", "10000000");
        $(".emiCalculatorDiv #interestRate").attr("max", "1");
        $(".emiCalculatorDiv #interestRate").attr("max", "30");
        document.getElementById("loanAmount").addEventListener("input", function () {
            document.getElementById("loanAmountInput").value = this.value;
        });
        document.getElementById("interestRate").addEventListener("input", function () {
            document.getElementById("interestRateInput").value = this.value;
        });
        document.getElementById("loanTenure").addEventListener("input", function () {
            document.getElementById("loanTenureInput").value = this.value;
        });
        document.getElementById("loanAmountInput").addEventListener("input", function () {
            document.getElementById("loanAmount").value = this.value;
        });
        document.getElementById("interestRateInput").addEventListener("input", function () {
            document.getElementById("interestRate").value = this.value;
        });
        document.getElementById("loanTenureInput").addEventListener("input", function () {
            document.getElementById("loanTenure").value = this.value;
        });
        document.getElementById("loanAmountInput").value = document.getElementById("loanAmount").value;
        document.getElementById("interestRateInput").value = document.getElementById("interestRate").value;
        document.getElementById("loanTenureInput").value = document.getElementById("loanTenure").value;
        calculateEMI();

    })
    function calculateEMI() {
        let principal = parseFloat(document.getElementById("loanAmountInput").value);
        let rate = parseFloat(document.getElementById("interestRateInput").value) / 1200; // Monthly interest rate
        let tenure = parseFloat(document.getElementById("loanTenureInput").value) * 12; // Loan tenure in months

        let emi = principal * rate * Math.pow(1 + rate, tenure) / (Math.pow(1 + rate, tenure) - 1);
        let totalPayment = emi * tenure;
        let totalInterest = totalPayment - principal;
        let principalAmount = principal;
        document.getElementById("emi").textContent = emi.toFixed(2);
        document.getElementById("totalInterest").textContent = totalInterest.toFixed(2);
        document.getElementById("totalPayment").textContent = totalPayment.toFixed(2);
        var text = "(" + principalAmount.toString() + "+" + totalInterest.toFixed(2).toString() + ")";
        document.getElementById("totalPayment").append(text);
        // document.getElementById("principalAmount").textContent = principalAmount.toFixed(2);
        // document.getElementById("interestAmount").textContent = totalInterest.toFixed(2);
    }

    // $(".emibtn").on("click", function () {
    //     $(".emiCalculatorDiv").removeClass("d-none");
    //     $(".emiCalculatorDiv #loanAmount").attr("min", "200000");
    //     $(".emiCalculatorDiv #loanAmount").attr("max", "10000000");
    // });


    $(".emibtn").on('click', function () {
        $(".emiCalculatorDiv").addClass("d-none");

        $.ajax({
            url: "/Home/GetLoanDetails?bankName=" + $(this).text(),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $(".emiCalculatorDiv").addClass("d-none");
                $(".emiCalculatorDiv #loanAmount").attr("min", data.minLoanAmount);
                $(".emiCalculatorDiv #loanAmount").attr("max", data.maxloanAmount);
                $(".emiCalculatorDiv #interestRate").attr("max", data.maxInterestRate);
                $(".emiCalculatorDiv #interestRate").attr("min", data.minInterestRate);
                $(".emiCalculatorDiv").removeClass("d-none");
                document.getElementById("loanAmount").addEventListener("input", function () {
                    document.getElementById("loanAmountInput").value = this.value;
                });
                document.getElementById("interestRate").addEventListener("input", function () {
                    document.getElementById("interestRateInput").value = this.value;
                });
                document.getElementById("loanTenure").addEventListener("input", function () {
                    document.getElementById("loanTenureInput").value = this.value;
                });
                document.getElementById("loanAmountInput").addEventListener("input", function () {
                    document.getElementById("loanAmount").value = this.value;
                });
                document.getElementById("interestRateInput").addEventListener("input", function () {
                    document.getElementById("interestRate").value = this.value;
                });
                document.getElementById("loanTenureInput").addEventListener("input", function () {
                    document.getElementById("loanTenure").value = this.value;
                });
                document.getElementById("loanAmountInput").value = $("#loanAmount").val();
                document.getElementById("interestRateInput").value = $("#interestRate").val();
                document.getElementById("loanTenureInput").value = $("#loanTenure").val();
                calculateEMI();

            },
            error: function (err) {
                alert(err);
            }
        });
       
    });

</script>

