@model Schemes.ViewModels.LoanDetails

@{
    ViewData["Title"] = "AddBanksLoanDetails";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBanksLoanDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="BankName" class="control-label">Bank Name</label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanType" class="control-label">Loan Type</label>
                <input asp-for="LoanType" class="form-control" />
                <span asp-validation-for="LoanType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLoanAmount" class="control-label">Min Loan Amount</label>
                <input asp-for="MinLoanAmount" class="form-control" />
                <span asp-validation-for="MinLoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxloanAmount" class="control-label">Max loan Amount</label>
                <input asp-for="MaxloanAmount" class="form-control" />
                <span asp-validation-for="MaxloanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinInterestRate" class="control-label">Min Interest Rate</label>
                <input asp-for="MinInterestRate" class="form-control" />
                <span asp-validation-for="MinInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxInterestRate" class="control-label">Max Interest Rate</label>
                <input asp-for="MaxInterestRate" class="form-control" />
                <span asp-validation-for="MaxInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
