@{
    ViewData["Title"] = "Home Page";
}

<div class="row g-4 mb-4">
    <a class="col-sm-6 col-xl-3" href="/Home/GetSchemesList">
        <div class="card text-white bg-success bg-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>Schemes list</div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
            </div>
        </div>
    </a>
    <a class="col-sm-6 col-xl-3" href="/Home/AddNewScheme">
              <div class="card text-white bg-success bg-gradient">
                <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                    <div>Add New Scheme</div>
                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
                </div>
              </div>
            </a>
            <!-- /.col-->
           
            <!-- /.col-->
    <a class="col-sm-6 col-xl-3" id="customersList" href="/Home/GetCustomersList">
        <div class="card text-white bg-success bg-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>Customers List</div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
            </div>
        </div>
    </a>
    <a class="col-sm-6 col-xl-3" href="/Home/GetBanksLoanList">
        <div class="card text-white bg-success bg-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>Loan Details List</div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
            </div>
        </div>
    </a>
    <a class="col-sm-6 col-xl-3" href="/Home/AddBanksLoanDetails">
        <div class="card text-white bg-success bg-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>Add New Loan Details</div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
            </div>
        </div>
    </a>
   
    <a class="col-sm-6 col-xl-3" href="/Home/CreateNewAdmin">
        <div class="card text-white bg-success bg-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>Create Admin</div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="145" width="539" style="display: block; box-sizing: border-box; height: 70px; width: 259px;"></canvas>
            </div>
        </div>
    </a>
          </div>
