<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchemesWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchemesWebApp.styles.css" asp-append-version="true" />
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="round hollow text-center">
                <a \ class="open-btn" id="addClass"><img src="~/img/chatIcon.png" aria-hidden="true" /> Chat</a>
            </div>

            
                <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar d-none" style="background-color:white">

                    <div class="popup-head">
                        <div class="popup-head-left pull-left">
                            <a Design and Developmenta title="Gurdeep Osahan (Web Designer)">
                                <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="https://bootdey.com/img/Content/avatar/avatar1.png" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)">
                                <h1>Customer Support</h1><small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> </small>
                            </a>
                        </div>
                        <div class="popup-head-right pull-right">
                            
                        </div>
                    </div>

                    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="chat_box touchscroll chat_box_colors_a">
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                        <img alt="Gurdeep Osahan" title="" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="md-user-image">
                                </div>
                                <ul class="chat_message agent-text">
                                    <li>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="chat_message_wrapper chat_message_right">
                                <div class="chat_user_avatar">
                                </div>
                                <ul class="chat_message">
                                    <li>

                                    <p class="message-input">
                                            
                                     </p>
                                    </li>
                                </ul>
                            </div>
                          
                        </div>
                    </div>
                    <div class="chat_submit_box">
                        <div class="uk-input-group">
                            <div class="gurdeep-chat-box">
                                <span style="vertical-align: sub;" class="uk-input-group-addon">
                                    <a href="#"><i class="fa fa-smile-o"></i></a>
                                </span>
                                <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
                            </div>

                            <span class="uk-input-group-addon">
                                <a href="#">Send</a>
                            </span>
                        </div>
                    </div>
                    </aside>
        </main>
       
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $("#addClass").click(function () {
                $('#sidebar_secondary').addClass('popup-box-on');
            });
            $(".open-btn").click(function () {
                $('#sidebar_secondary').removeClass('d-none');
            });
            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
            });
           

            function updateScrollbar() {
                $messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
                    scrollInertia: 10,
                    timeout: 0
                });
            }          

            $('#sidebar_secondary').on('click', 'span.uk-input-group-addon a', function () {
                var message = $('#submit_message').val(); // Get entered text
                $('p.message-input').text(message);
                var targetUrl = 'https://vrwknc12-5000.inc1.devtunnels.ms/bot';
                $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType: 'application/json',
                    data: JSON.stringify({ message: message }),
                    success: function (response) {
                        $('ul.chat_message.agent-text').append('<li><p>' + response + '</p></li>');
                        
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        })
    </script>
</body>
</html>
