<!DOCTYPE html>
<html lang="en">
<head>
   @*  @{
        ViewData["Title"] = "Home";
        Layout = "~/Views/Shared/MasterPage.cshtml";
    }
 *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchemesWebApp</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchemesWebApp.styles.css" asp-append-version="true" />
</head>
<body>
<style>
    #submit_message{
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: .35rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="round hollow text-center">
                <a  class="open-btn" id="addClass"><img src="~/img/chatIcon.png" aria-hidden="true" /> Chat</a>
            </div>

            
                <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar d-none" style="background-color:white;right:20px">

                    <div class="popup-head">
                        <div class="popup-head-left pull-left chatheader">
                                <img class="md-user-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)">
                        <h1 class="align-content-center" style="margin-top:11px;margin-left:17px;">Customer Support</h1>
                        </div>
                        <div class="popup-head-right pull-right">
                        <button type="button" class="close closeBtn " style="color:white;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>

                    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="chat_box touchscroll chat_box_colors_a">
                            <div class="chat_message_wrapper">
                                <div class="chat_user_avatar">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="md-user-image">
                                </div>
                                <ul class="chat_message agent-text">
                                    <li>
                                        <p> Hello,How Can I help you? </p>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chat_submit_box">
                        <div class="uk-input-group row">
                            <input  type="text" placeholder="Type a message" id="submit_message"  class="col-7"  style="border-color:dimgrey;margin-left:19px">
                        <span class="uk-input-group-addon col-3">
                                <a class="btn btn-primary" href="#">Send</a>
                            </span>

                           
                        </div>
                    </div>
                    </aside>
        </main>
       
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $("#addClass").click(function () {
                $('#sidebar_secondary').addClass('popup-box-on');
            });
            $(".open-btn").click(function () {
                $('#sidebar_secondary').removeClass('d-none');
            });
            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
            });


            $('#sidebar_secondary').on('click', 'span.uk-input-group-addon a', function () {
                var message = $('#submit_message').val(); // Get entered text

                $('.chat_box').append('<div class="chat_message_wrapper chat_message_right">' +
                    '<ul class="chat_message "><li><p>' + message + '</p></li></ul></div>');
                $('#submit_message').val('');
                $.ajax({
                    type: 'GET',
                    url: "Home/Chatbot?message=" + message,
                    contentType: 'application/json',
                    success: function (response) {
                        $('.chat_box').append('<div class="chat_message_wrapper"><div class="chat_user_avatar"><img src = "https://bootdey.com/img/Content/avatar/avatar1.png" class="md-user-image"></div>' +
                            '<ul class="chat_message"><li><p>' + response + '</p></li></ul></div>');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
            $(".closeBtn").on('click',function(){
                $('#sidebar_secondary').addClass('d-none');
            })

        })
    </script>
</body>
</html>
