@using Schemes.ViewModels
@model RegistrationViewModel;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <img src="~/img/Fineasee_logo.png" alt="Fineasee-logo" style="height:100px; width:300px; margin-top:160px; margin-left:70px; margin-right:20px;" />
                    @*<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>*@
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>

                            <form method="post" enctype="multipart/form-data" asp-action="CustomerRegistration" asp-controller="Login" class="user">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="FirstName" type="text" asp-validation-for="FirstName" class="form-control form-control-user" id="exampleFirstName"
                                               placeholder="First Name" required>
                                        @*@Html.ValidationMessageFor(model => model.FirstName,"", new { @class =" text-danger"})*@
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="LastName" type="text" asp-validation-for="LastName" class="form-control form-control-user" id="exampleLastName"
                                               placeholder="Last Name" required>
                                        @*@Html.ValidationMessageFor(model => model.LastName,"",new{@class ="text-danger"})*@
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="form-group col-6">
                                    <input asp-for="DateOfBirth" type="date" asp-validation-for="DateOfBirth" class="form-control form-control-user " id="DateOfBirth"
                                               placeholder="Date of Birth(DD-MM-YYYY)" required>
                                    @*@Html.ValidationMessageFor(model => model.DateOfBirth,"",new {@class ="text-danger"})*@
                                </div>
                                <div class="form-group col-6">
                                    <input asp-for="PhoneNumber" type="text" asp-validation-for="PhoneNumber" class="form-control form-control-user" id="PhoneNumber"
                                               placeholder="Phone Number" maxlength="10" required>
                                    @*@Html.ValidationMessageFor(model=>model.PhoneNumber,"",new {@class ="text-danger"})*@
                                        <span id="PhnNumberError" asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                    <div class="form-group row" id="sendSMSOTPDiv" style="padding-left:15px">
                                        <input type="button" class="btn btn-primary btn-block w-25" disabled="disabled" id="sendSMSOTPBtn" value="Send OTP" />
                                    </div>
                                    <div class="form-group row" id="SMSOTPDiv" hidden="hidden">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" id="SMSOTPField" class="form-control form-control-user"
                                                   placeholder="Enter OTP" autocomplete="off">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="button" id="SMSVerifyBtn" class="btn btn-primary btn-user btn-block" value="Verify OTP">
                                        </div>
                                        <a id="resendSMSOtp" href="javascript:void(0)" class="btn btn-secondary col-sm-6 mb-sm-0" hidden="hidden" style="font-size:12px"> Resend OTP</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="EmailId" type="email" asp-validation-for="EmailId" class="form-control form-control-user" id="exampleInputEmail"
                                           placeholder="Email Address" required>
                                    @*@Html.ValidationMessageFor(model=>model.EmailId,"",new {@class ="text-danger"})*@
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>
                                <div class="form-group row" id="sendOTPDiv" style="padding-left:15px" >
                                    <input type="button" class="btn btn-primary btn-block w-25" disabled="disabled" id="sendOTPBtn" value="Send OTP" />
                                </div>
                                <div class="form-group row" id="OTPDiv" hidden="hidden">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" id="OTPField" class="form-control form-control-user"
                                               placeholder="Enter OTP" autocomplete="off">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="button" id="VerifyBtn" class="btn btn-primary btn-user btn-block" value="Verify OTP">
                                    </div>
                                    <a id="resendOtp" href="javascript:void(0)" class="link-danger col-sm-6 mb-sm-0" hidden="hidden" style="font-size:12px"> Resend OTP</a>
                                </div>
                                <div class="form-group row" id="passwordFields" hidden="hidden">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" asp-for="Password" class="form-control form-control-user"
                                               id="exampleInputPassword" asp-validation-for="Password" placeholder="Password" required>
                                        @*@Html.ValidationMessageFor(model=>model.Password,"",new {@class ="text-danger"})*@
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" 
                                               id="exampleRepeatPassword" placeholder="Repeat Password" onchange="checkConfirmPassword();" required>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit" id="submitBtn" disabled="disabled" hidden="hidden">
                                    Register Account
                                </button>
                                
                            </form>
                           

                            <div class="text-center">
                                <a class="small" href="@Url.Action("ForgotPassword", "Login")">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login", "Login")">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.2/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
            $('#exampleInputEmail').on('input change', function () {
                if ($(this).val() != '') {
                    $('#sendOTPBtn').prop('disabled', false);
                    $('#')
                } 
                else {
                    $('#sendOTPBtn').prop('disabled', true);
                }
            });


            $("#sendOTPBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/SendRegistrationOTP?emailId=' + $("#exampleInputEmail").val(),
                    success: function (data) {
                    alert("OTP has Been Sent to your EmailID");
                    $("#sendOTPDiv").attr("hidden", "hidden");
                    //$("#submitBtn").attr("hidden", "hidden");

                    $("#OTPDiv").removeAttr("hidden");
                    $("#resendOtp").removeAttr("hidden");
                }
                });
            });
            $("#resendOtp").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/SendRegistrationOTP?emailId=' + $("#exampleInputEmail").val(),
                    datatype: 'json',
                    success: function (data) {
                    alert("OTP has Been Sent to your EmailID");
                    $("#sendOTPDiv").attr("hidden", "hidden");
                    $("#OTPDiv").removeAttr("hidden");
                }
                });
            });
            $("#VerifyBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/VerifyOTP?emailId=' + $("#exampleInputEmail").val() + '&&OTP=' + $("#OTPField").val(),
                    datatype: 'json',
                    success: function(data) {
                        if (data == true) {
                            alert("EmailID is Verified");
                            $("#sendOTPDiv").attr("hidden", "hidden");
                            $("#OTPDiv").attr("hidden", "hidden");
                            $("#resendOtp").attr("hidden", "hidden");
                            $("#passwordFields").removeAttr("hidden");
                            $("#submitBtn").removeAttr("hidden");
                        }
                        else {
                            alert("Incorrect OTP");
                        }
                    }
                });
            });
            if ($("#OTPDiv").attr("hidden", "hidden")) {
                checkConfirmPassword = function () {
                    if ($("#exampleInputPassword").val() != $("#exampleRepeatPassword").val()) {
                        alert("Password did not match");
                        return false;
                    }

                    else {
                        $("#submitBtn").attr("disabled", false);
                    }
                };
            }

            $('#PhoneNumber').on('input change', function () {
                if ($(this).val() != '') {
                    $('#sendSMSOTPBtn').prop('disabled', false);
                    $('#PhnNumberError').addClass('d-none');
                }
                else {
                    $('#sendSMSOTPBtn').prop('disabled', true);
                    $('#PhnNumberError').removeClass('d-none');
                }
            });


            $("#sendSMSOTPBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/SendSMSOTP?phoneNumber=' + $("#PhoneNumber").val(),
                    success: function (data) {
                        alert("OTP has Been Sent to your PhoneNumber");
                        $("#sendSMSOTPDiv").attr("hidden", "hidden");
                        // $("#submitBtn").attr("hidden", "hidden");
                        $("#SMSOTPDiv").removeAttr("hidden");
                        $("#resendSMSOtp").removeAttr("hidden");
                    }
                });
            });
            $("#resendSMSOtp").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/SendSMSOTP?phoneNumber=' + $("#PhoneNumber").val(),
                    datatype: 'json',
                    success: function (data) {
                        alert("OTP has Been Sent to your PhonenUmber");
                        $("#sendSMSOTPDiv").attr("hidden", "hidden");
                        $("#SMSOTPDiv").removeAttr("hidden");
                    }
                });
            });
            $("#SMSVerifyBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/Login/VerifySMSOTP?phoneNumber=' + $("#PhoneNumber").val() + '&&OTP=' + $("#SMSOTPField").val(),
                    datatype: 'json',
                    success: function (data) {
                        if (data == true) {
                            alert("PhoneNumber is Verified");
                            $("#sendSMSOTPDiv").attr("hidden", "hidden");
                            $("#SMSOTPDiv").attr("hidden", "hidden");
                            $("#resendSMSOtp").attr("hidden", "hidden");
                           
                        }
                        else {
                            alert("Incorrect OTP");
                        }
                    }
                });
            });
        });
    </script>



</body>

</html>